.altBtn{
    border-radius: 50%;
    color: white;
    background-color: blue;
    border: none;
    margin-left: 10px;
}

.altInput{
    border-radius: 20px;
    background-color: rgb(244, 243, 243);
}

.altBtnDelete{
    border-radius: 50%;
    color: white;
    background-color: rgb(246, 98, 98);
    border: none;
    margin-left: 10px;
}